
select.template-green {
	position: relative;
	display: flex; 
	align-items: baseline;
	background-color: white;
	height: 42px;
	padding: 7px 7px 7px 7px;
	margin: 7px 7px 7px 7px;
	border-radius: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 3px solid rgb(34, 177, 76);
}


div.template-blue {
	position: relative;
	display: flex; 
	align-items: baseline;
	background-color: white;
	padding: 32px 17px 17px 17px;
	margin: 17px 17px 17px 17px;
	border-radius: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 3px solid rgb(0, 162, 232);
}

div.template-green {
	position: relative;
	display: flex; 
	align-items: baseline;
	background-color: white;
	padding: 32px 17px 17px 17px;
	margin: 17px 17px 17px 17px;
	border-radius: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 3px solid rgb(34, 177, 76);
}

div.template div.code {
	margin-top: 17px;	
	position: relative;
	top:0;
}

div.template div.raw {
	margin-top: 17px;
	margin-right: 17px;
	position: relative;
	top:0;
	display: none;
	width: 100%;
}

div.template div.raw textarea {
	width: 100%;
	height: 220px;
	border: 1px solid rgb(235,235,235);
	font-family: Courier;
	font-size: 18px;
}

div.template div.title {
	position: absolute;
	top: 5px;
	right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: gray;
	width: 100%;
	vertical-align: middle;
	text-align: right;
}

div.template div.title button.off {
	text-decoration: none;
	border: 0px transparent;
	border-radius: 0px;
	color: blue;
	margin-right: 3px;
	margin-top: -4px;
	height: 36px;
	width: 36px;
	text-align: center;
	background-color: transparent;
	border: 0px;
	text-decoration: none;
	vertical-align: top;
	opacity: 0.5;
}

div.template div.title button.off:hover {
	text-decoration: none;
	border: 0px transparent;
	border-radius: 0px;
	color: blue;
	margin-right: 3px;
	margin-top: -4px;
	height: 36px;
	width: 36px;
	text-align: center;
	background-color: transparent;
	text-decoration: none;
	vertical-align: top;
	opacity: 1.0;
}

div.template div.title button.on {
	text-decoration: none;
	border: 0px solid rgb(225,225,225);
	border-radius: 60px;
	color: rgb(34,177,76);
	margin-right: 3px;
	margin-top: -4px;
	height: 36px;
	width: 36px;
	text-align: center;
	background-color: rgb(235,235,235);
	text-decoration: none;
	vertical-align: top;
	opacity: 1.0;
}

div.template div.title button.on:hover {
	text-decoration: none;
	border: 0px solid rgb(225,225,225);
	border-radius: 60px;
	color: rgb(19,98,43);
	margin-right: 3px;
	margin-top: -4px;
	height: 36px;
	width: 36px;
	text-align: center;
	background-color: rgb(225,225,225);
	text-decoration: none;
	vertical-align: top;
	opacity: 1.0;
}

div.template div.title select.versions {
	background-color: white;
	border-radius: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 3px solid rgb(225, 225, 225);
	vertical-align: top;
}

div.template span.field {
	background-color: white;
	font-family: Courier;
	color: gray;
	border: 1px solid rgb(175, 175, 175);
}
