        <section class='row-fluid'>
            <img src="https://github.com/leandrosardi/mysaas/blob/main/public/core/images/logo/logo-16-01.png?raw=true" alt='ConnectionSphere' />
            <p>Templates.js Library</p>
        </section>

        <br/>

		<section class="container span12">	  
			<section class="box">
				<header>
					<h3>
						Example Template
					</h3>
				</header>
				<section class='row-fluid'>
						<div id='myTemplate' style='width:750px;'> </div>
				</section>
				<section class='row-fluid'>
						<button id='setFocus'>Set Focus</button><br/>
						<br/>
						<button id='getSpintax'>Get Spintax</button><br/>
						<br/>
						<button id='getFieldNames'>Get Field Names</button><br/>
						<br/>
						<button id='getFieldValue'>Get Field Value</button><input type='text' id='fieldName' value='' placeholder='write the name of a field here' /><br/>
						<br/>
						<textarea id='result' cols=150 rows=15> </textarea>			
				</section>
			</section>
		</section>


	<script>
		$(document).ready(function() {
			/*
			* Example.
			* 
			*/
		   var a = "{Hello|Hi there|Hi|Hello there}! !fname. " + 
				   "{Thanks|Thank you} for {accepting my invitation|adding me to your contacts|adding me to your friends|adding me to your connections}.<br/>" +
				   "<br/>" +
				   "Our {brand new|exclusive|unique|new}  {service|product} {was|is} {crafted|created|designed} to " +
				   "<!benefit1!write the most attractive benefit of your service!>; " +
				   "and {I want|I would like|I'd like} to {send you|invite you for|share} a {free|absolutely free|absolute free} <!lead magnet!write a lead magnet here!>.<br/>" +
				   "<br/>" +
				   "{Do you want to try it out?|Do you want to test it?|Would you like to test it out?}";
		   
		   var b = "{Thank you|Thanks} for accepting , !fname {Happy|Glad} to {have|count with} you {into|in} my {connections|friends|list of connections|list of contacts}.<br/>" +
				   "<br/>" +
				   "{Our|My} {company|business|team} is {working on|creating|developing|crafting|releasing|putting the last touches to} {this|a|a new} {service|product} to" +
				   "<!benefit1!write the most attractive benefit of your service!> , and {I’d like|I would like|I want} you to {test|try} {it|it out}.<br/>" +
				   "<br/>" +
				   "{Kindly|Please} {advice me|let me know} if you{'d like| would like| want} to {test|try} {our|this} {brand-new|new} {service|product} so we can " +
				   "{schedule|set|book} a {meeting|call}.";
		   
		   var c = "{Hello|Hi} !fname.<br/>" +
				   "<br/>" +
				   "As {I wrote|said|I said|I said before|I wrote before|I said in my previous message|I wrote in my previous message|I said in other message|I wrote in other message}, " +
				   "{I am going to|I'm going to|I will|I'll} {launch|start|release|offer} a new {service|program} to <!benefit1!write the most attractive benefit of your service!>.<br/>" +
				   "<br/>" +
				   "Can I {send you|share} {a private|a personal|an email} invitation to {a free|an absolutely free|a free of charge} {demo|presentation|call}?<br/>" +
				   "<br/>" +
				   "{What's|What is} your {best|primary|main|daily} {email|email address}?";
		   
		   var ctx = document.getElementById('myTemplate');
		   
		   templatesJs.draw(ctx, {
			   index: 2,
			   versions: [{
				   title: 'Template #1', 
				   code: a,
				   values: {
					   'benefit1': null,
					   'lead magnet': null,
				   },
			   }, {
				   title: 'Template #2', 
				   code: b,
				   values: {
					   'benefit1': null,
				   },
			   }, {
				   title: 'Template #3', 
				   code: c,
				   values: {
					   'benefit1': null,
				   },
			   }],
		   });
	   
		   $('#setFocus').click(function() {
			   templatesJs.setFocus(ctx);
		   });
	   
		   $('#getSpintax').click(function() {
			   $('#result').text(
				   templatesJs.getSpintax(ctx)
			   );
		   });
	   
		   $('#getFieldNames').click(function() {
			   $('#result').text(
				   templatesJs.getFieldNames(ctx).toString()
			   );
		   });
	   
		   $('#getFieldValue').click(function() {
			   $('#result').text(
				   templatesJs.getFieldValue(ctx, $('#fieldName').val())
			   );
		   });	   
		});
	</script>


		