        <section class='row-fluid'>
            <img src="https://github.com/leandrosardi/mysaas/blob/main/public/core/images/logo/logo-16-01.png?raw=true" alt='ConnectionSphere' />
            <p>Filters.js Library</p>
        </section>

        <br/>

		<section class="container span12">	  
			<section class="box">
				<header>
					<h5>
						<i class="icon-th-list"></i>
						Simple Filter
					</h5>
				</header>
				<div class="span5" id='job_title'></div>
				<div class="span6">
					<pre>
var job_title = document.getElementById('job_title');	  
filtersJs.draw(job_title, {
	label: 'Job Positions',
	allowed_positive_keywords: true,
	allowed_negative_keywords: true,
});			
					</pre>
				</div>
			</section>
		</section>

		<section class="container span12">	  
			<section class="box">
				<header>
					<h5>
						<i class="icon-th-list"></i>
						List of Allowed Values
					</h5>
				</header>
				<div class="span5" id='location2'></div>
				<div class="span6">
					<pre>
var location2 = document.getElementById('location2');
filtersJs.draw(location2, {
	label: 'Locations',
	allowed_positive_keywords: true,
	allowed_negative_keywords: false,
	allowed_values: [
		'Argentina',
		'Pakistan',
		'United States'
	],
});			
					</pre>
				</div>
			</section>
		</section>

		<section class="container span12">	  
			<section class="box">
				<header>
					<h5>
						<i class="icon-th-list"></i>
						Catch Events
					</h5>
				</header>
				<div class="span5" id='industry'></div>
				<div class="span6">
					<pre>
var industry = document.getElementById('industry');
filtersJs.draw(industry, {
	label: 'Industries',
	allowed_positive_keywords: true,
	allowed_negative_keywords: true,
	on_add_value: function(value) {
		alert("You added: " + value);
	},
	on_remove_value: function(value) {
		alert("You removed: " + value);
	},
});	
					</pre>
				</div>
			</section>
		</section>

		<section class="container span12">	  
			<section class="box">
				<header>
					<h5>
						<i class="icon-th-list"></i>
						Load Existing Configuration
					</h5>
				</header>
				<div class="span5" id='currentconfig'></div>
				<div class="span6">
					<pre>
var currentconfig = document.getElementById('currentconfig');
filtersJs.draw(currentconfig, {
	label: 'Your Current Configuration',
	allowed_positive_keywords: true,
	allowed_negative_keywords: true,
});	
// adding values by code doesn't trigger events.
filtersJs.addValue(currentconfig, 'Argentina', true);
filtersJs.addValue(currentconfig, 'United Kingdom', false);
					</pre>
				</div>
			</section>
		</section>

		<section class="container span12">	  
			<section class="box">
				<header>
					<h5>
						<i class="icon-th-list"></i>
						Get Values <input id="clicktogetvalues" type="button" value="Click to Show Values" />
					</h5>
				</header>
				<div class="span5" id='getvalues'></div>
				<div class="span6">
					<pre>
var getvalues = document.getElementById('getvalues');
filtersJs.draw(getvalues, {
	label: 'Click the button below to get the list of values on this filter',
	allowed_positive_keywords: true,
	allowed_negative_keywords: true,
});	
$('#clicktogetvalues').click(function() {
	alert('Positive Values:'+filtersJs.getPositiveValues(getvalues));
	alert('Negative Values:'+filtersJs.getNegativeValues(getvalues));
});
					</pre>
				</div>
			</section>
		</section>


		<section class="container span12">	  
			<section class="box">
				<header>
					<h5>
						<i class="icon-th-list"></i>
						Remove Values by Code <input id="clicktoremoveuk" type="button" value="Click to Remove United Kingdom" />
					</h5>
				</header>
				<div class="span5" id='removeuk'></div>
				<div class="span6">
					<pre>
var removeuk = document.getElementById('removeuk');
filtersJs.draw(removeuk, {
	label: 'Remove Values',
	allowed_positive_keywords: true,
	allowed_negative_keywords: true,
});	
// adding values by code doesn't trigger events.
filtersJs.addValue(removeuk, 'Argentina', true);
filtersJs.addValue(removeuk, 'United Kingdom', false);
// removing values by code doesn't trigger events.
$('#clicktoremoveuk').click(function() {
	filtersJs.removeValue(removeuk, 'United Kingdom');
});
					</pre>
				</div>
			</section>
		</section>

	<script>
		$(document).ready(function() {

			// simple filter
			var job_title = document.getElementById('job_title');	  
			filtersJs.draw(job_title, {
				label: 'Job Positions',
				allowed_positive_keywords: true,
				allowed_negative_keywords: true,
			});

			// list of allowed values
			var location2 = document.getElementById('location2');
			filtersJs.draw(location2, {
				label: 'Locations',
				allowed_positive_keywords: true,
				allowed_negative_keywords: false,
				allowed_values: [
					'Argentina',
					'Pakistan',
					'United States'
				],
			});

			// catch events
			var industry = document.getElementById('industry');
			filtersJs.draw(industry, {
				label: 'Industries',
				allowed_positive_keywords: true,
				allowed_negative_keywords: true,
				on_add_value: function(value) {
					alert("You added: " + value);
				},
				on_remove_value: function(value) {
					alert("You removed: " + value);
				},
			});	

			// load existing configuration
			var currentconfig = document.getElementById('currentconfig');
			filtersJs.draw(currentconfig, {
				label: 'Your Current Configuration',
				allowed_positive_keywords: true,
				allowed_negative_keywords: true,
			});	
			// adding values by code doesn't trigger events.
			filtersJs.addValue(currentconfig, 'Argentina', true);
			filtersJs.addValue(currentconfig, 'United Kingdom', false);

			// get values by code
			var getvalues = document.getElementById('getvalues');
			filtersJs.draw(getvalues, {
				label: 'Click the button below to get the list of values on this filter',
				allowed_positive_keywords: true,
				allowed_negative_keywords: true,
			});	
			$('#clicktogetvalues').click(function() {
				alert('Positive Values:'+filtersJs.getPositiveValues(getvalues));
				alert('Negative Values:'+filtersJs.getNegativeValues(getvalues));
			});

			// remove united kingdom by code
			var removeuk = document.getElementById('removeuk');
			filtersJs.draw(removeuk, {
				label: 'Remove Values',
				allowed_positive_keywords: true,
				allowed_negative_keywords: true,
			});	
			// adding values by code doesn't trigger events.
			filtersJs.addValue(removeuk, 'Argentina', true);
			filtersJs.addValue(removeuk, 'United Kingdom', false);
			// removing values by code doesn't trigger events.
			$('#clicktoremoveuk').click(function() {
				filtersJs.removeValue(removeuk, 'United Kingdom');
			});
		});
	</script>


		